TesteCliente/Connected Services/EchoCliente/echo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://control/" targetNamespace="http://control/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="echo" type="tns:echo" />
  <xs:element name="echoResponse" type="tns:echoResponse" />
  <xs:complexType name="echo">
    <xs:sequence>
      <xs:element minOccurs="0" name="frase" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>